@import "variables";

.honors {
  background-image: url("../../images/about/section-9.svg");
  height: 100%;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0 200px 0;

  h3 {
    text-align: center;
    margin-bottom: 0;
    font-size: 48px;
    text-shadow: 2px 1px 0 $--right-color, 4px 2px 0 $--bottom-color;
  }

  &__wrapper {
    margin-right: 400px;
    &>div{
      padding-bottom: 60px;
    }
  }

  &__list {

    img {
      cursor: pointer;
      width: 125px;
      height: 125px;
    }

    justify-content: center;
    display: flex;
    gap: 10px;
  }
}