
/*video*/

.video-bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .6;
    z-index: 0;
    border-radius: 16px;
    transition: all .2s ease-in-out 0s;
    border: 1px solid transparent;
    cursor: pointer;
}

.video-bg:hover, .video-icon:hover + .video-bg {
    border-color: #ffb62e;
    opacity: .3;
}

.video-icon {
    background-image: url("../../images/main/Triangle 1 (1).svg");
    height: 30px;
    width: 30px;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    inset: 0;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: contain;
}

